nav, header, .contenedor, footer{
    max-width: 92%;
    margin: auto;
}
nav{
    background-color: yellow;
}
header{
    background-color: white;
}
.contenedor{
    background-color: mediumblue;
}
.central{
    background-color: yellow;
    display: inline-block;
    max-width: 65%;
}
footer{
    background-color: goldenrod;
}
aside{
    background-color: royalblue;
    display: inline-block;
    max-width: 34%;
}